# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore node_modules (for JavaScript/Node projects)
client/node_modules/
server/node_modules/


# Ignore Python cache and virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Ignore compiled files
*.class
*.o
*.out
*.so

# Ignore IDE/project files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
